* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
:root {
	--color-black: #000;
	--color-blue-1: #03087B;
	--color-blue-2: #121AC3;
	--color-light: #D1D3F3;
}

.button {
	background-color: #fff;
	color: var(--color-blue-2);
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}

body {
	position: relative;
	width: 100vw;
	/* height: 100vh; */
	background-color: var(--color-black);
	padding: 7.5vh 8.5vw 0;
	color: var(--color-light);
	font-family: Lato;
	/* overflow: hidden; */
	overflow-x: hidden;
}

body>:is(header,main) {
	z-index: 2;
	position: relative;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: Leckerli One, cursive, sans-serif;
	width: fit-content;
}

header ul {
	display: flex;
	gap: 4rem;
	font-weight: 400;
}

main {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

main .presentation {
	width: 52vw;
	display: inline-block;
}

main .presentation h2 {
	font-size: 4.7rem;
}

main .presentation h2 span {
	color: var(--color-blue-2);
}

main .presentation strong {
	font-size: 1.75rem;
	margin-block: 15px 47px;
	display: block;
	font-weight: 700;
}

main .presentation p {
	font-size: 1.75rem;
	font-weight: 300;
}

main .presentation .hire-me {
	font-size: 2.5rem;
	font-weight: 700;
	display: block;
	width: fit-content;
	margin-block: 4.5rem 25px;
	padding: 1rem 2.6rem;
	color: #fff;
	background-color: var(--color-blue-1);
	border-radius: 10px;
	cursor: pointer;
}

main .photo {
	margin: 0 auto;
	padding-block: 20px;
}

main .photo .draw {
	width: 100%;
	max-width: 200px;
	border-radius: 26vh;
	background-color: var(--color-blue-1);
	display: block;
	aspect-ratio: .7;
	padding: 10%;
	margin: 0 auto;
}

main .photo .draw img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 26vh;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
}

main .photo p {
	text-align: center;
}

main .photo .contacts {
	margin-top: 20px;
	text-align: center;
}

main .photo .contacts img {
	width: 50px;
}



.float {
	background-image: radial-gradient(var(--color-blue-2), transparent, transparent, transparent, transparent);
	opacity: .38;
	aspect-ratio: 1.6;
	transform: scale(6);
	width: 35vw;
	border-radius: 40% 62% 62% 40%;
	position: fixed;
}

#float-1 {
	bottom: 0;
	left: 0;
}

#float-2 {
	top: 15vw;
	right: 0;
	transform-origin: rotate(180deg);
}

.sections {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 5vh;
}
.sections:has(.active) {
	background-color: #000c;
	width: 100%;
}

.sections>* {
	background-color: #03087B;
	width: 4vw;
	height: 3vw;
	overflow: hidden;
	color: transparent;
	transition: width .3s, height .4s;
}

.sections>*:not(.active)>* {
	display: none;
}

.sections>*.active {
	width: 80vw;
	height: 80vh;
	right: 50%;
	transform: translateX(50%);
	color: var(--color-light);
	padding: 7.5vh 8.5vw 0;
	position: fixed;
	border-radius: 15px;
	transition: width 1s, height 1.5s;
}

.sections section .close {
	background: none;
	color: var(--color-light);
	font-size: 3rem;
	font-family: monospace;
	width: 100%;
	text-align: end;
	cursor: pointer;
}

.sections form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	margin-inline: auto;
}

.sections form :is(input,select,textarea) {
	border-radius: 7px;
	margin: 10px;
	padding: 10px;
	resize: none;
}
.sections form :is(input,select,textarea):focus-visible {
	outline: none;
}

.sections #hire-form h2 {
	text-align: center;
	margin-bottom: 20px;
}

@media (max-width: 480px) {
	:root {
		font-size: 10px
	}
	
	header {
		flex-direction: column;
	}

	header ul {
		gap: 2rem;
		font-size: 1.8rem;
	}

	main {
		flex-direction: column-reverse;
		align-items: center;
	}

	main .presentation {
		width: 100%;
	}

	main .photo {
		width: 65%;
		margin-bottom: 3rem;
		padding: 0;
	}

	main .photo p {
		font-size: 2.5rem;
	}

	.float {
		width: 60vw;
	}

	.sections>* {
		width: 9vw;
		height: 6vw;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	:root {
		font-size: 13px;
	}

	header ul {
		gap: 1rem;
	}

	main .photo {
		width: 25vw;
	}
}
