<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ronnu John</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">

    <style>
        img {
            width: 100px;
        }

        .contacts {
            gap: 15px;
            display: flex;
            width: 100%;
            height: 70vh;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<h1>Ronny John</h1>
<div class="contacts">
    <a href="https://www.linkedin.com/in/ronnyjohnti/" target="_blank">
        <img src="img/in.svg" alt="Linkedin">
    </a>
    <a href="https://github.com/ronnyjohnti/" target="_blank">
        <img src="img/gh.png" alt="Github" width="24">
    </a>
    <!--a href="malito:contact@ronnyjohnti.dev" target="_blank">
        <img src="img/@.png" alt="E-mail" width="24">
    </a-->
</div>
</body>
</html>